---
export interface Props {
  class?: string;
}

const { class: propsClass = "" } = Astro.props;
---

<div
  class={`${propsClass} md:ltr:ml-[var(--theme-left-sidebar-width)] md:rtl:mr-[var(--theme-left-sidebar-width)] lg:ltr:mr-[var(--theme-right-sidebar-width)] lg:rtl:ml-[var(--theme-right-sidebar-width)]`}
>
  <slot />
</div>
