/* * {
  box-sizing: border-box;
  margin: 0;
} */

html {
  background: white;
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--theme-bg-gradient-bottom);
  }
}

/* nav ul {
  list-style: none;
  padding: 0;
} */
