:root {
  --theme-navbar-height: 6rem;
  --theme-mobile-toc-height: 4rem;
  --theme-left-sidebar-width: 18rem;
  --theme-right-sidebar-width: 18rem;

  --min-spacing-inline: 1rem;

  --theme-bg-gradient: linear-gradient(
    180deg,
    var(--theme-bg-gradient-top),
    var(--theme-bg-gradient-top)
      calc(var(--theme-navbar-height) + var(--theme-mobile-toc-height)),
    var(--theme-bg-gradient-bottom)
  );

  --theme-navbar-bg: var(--theme-bg);
}

@media (min-width: 50em) {
  :root {
    --min-spacing-inline: 1.5rem;
  }
}

/*
	Define common fonts and colors
*/
:root,
::backdrop {
  /*
		Variables with --color-base prefix define
		the hue, and saturation values to be used for
		hsla colors.
		Example:
		--color-base-{color}: {hue}, {saturation};
	*/

  --color-base-white: 0, 0%;
  --color-base-black: 240, 100%;
  --color-base-gray: 250, 14%;
  --color-base-blue: 212, 100%;
  --color-base-blue-dark: 212, 72%;
  --color-base-teal: 180, 80%;
  --color-base-green: 158, 79%;
  --color-base-orange: 22, 100%;
  --color-base-purple: 269, 79%;
  --color-base-red: 351, 100%;
  --color-base-yellow: 41, 100%;

  /*
		Color palettes are made using --color-base 
		variables, along with a lightness value to
		define different variants.
	*/

  --color-gray-5: var(--color-base-gray), 5%;
  --color-gray-10: var(--color-base-gray), 10%;
  --color-gray-20: var(--color-base-gray), 20%;
  --color-gray-30: var(--color-base-gray), 30%;
  --color-gray-40: var(--color-base-gray), 40%;
  --color-gray-50: var(--color-base-gray), 50%;
  --color-gray-60: var(--color-base-gray), 60%;
  --color-gray-70: var(--color-base-gray), 70%;
  --color-gray-80: var(--color-base-gray), 80%;
  --color-gray-90: var(--color-base-gray), 90%;
  --color-gray-95: var(--color-base-gray), 95%;

  --color-blue: var(--color-base-blue), 61%;
  --color-blue-dark: var(--color-base-blue-dark), 39%;
  --color-green: var(--color-base-green), 42%;
  --color-orange: var(--color-base-orange), 50%;
  --color-purple: var(--color-base-purple), 54%;
  --color-red: var(--color-base-red), 54%;
  --color-yellow: var(--color-base-yellow), 59%;
}

:root,
::backdrop {
  color-scheme: light;
  --theme-accent: hsla(var(--color-orange), 1);
  --theme-accent-secondary: hsl(324, 75%, 38%);
  --theme-text: hsla(var(--color-gray-10), 1);
  --theme-text-light: hsla(var(--color-gray-30), 1);
  --theme-text-lighter: hsla(var(--color-gray-40), 1);
  --theme-bg: hsl(273, 37%, 93%);
  --theme-bg-gradient-top: var(--theme-bg);
  --theme-bg-gradient-bottom: #fdfeff;
  --theme-code-inline-bg: hsla(var(--color-purple), 0.1);
}

@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --theme-accent: hsla(var(--color-orange), 1);
    --theme-accent-secondary: hsla(var(--color-orange), 1);
    --theme-text: hsla(var(--color-gray-90), 1);
    --theme-text-light: hsla(var(--color-gray-80), 1);
    --theme-text-lighter: hsla(var(--color-gray-70), 1);
    --theme-bg: hsl(256, 27%, 19%);
    --theme-bg-gradient-top: var(--theme-bg);
    --theme-bg-gradient-bottom: hsl(251, 29%, 11%);
    --theme-code-inline-bg: #ffffff16;
  }
}
