---
import BaseLayout from "~/layouts/BaseLayout.astro";

const {} = Astro.props;
---

<BaseLayout
  data={{ title: "prueba", type: "base", description: "prueba-desc" }}
>
  <h1>Hola</h1>
</BaseLayout>
