---
import type { CollectionEntry } from "astro:content";
import Footer from "~/components/Footer/Footer.astro";
import HeadCommon from "~/components/HeadCommon.astro";
import Header from "~/components/Header/Header.astro";
import MainColumn from "~/components/MainColumn.astro";

export interface Props {
  content: CollectionEntry<"docs">["data"];
}

const { content } = Astro.props;
const formatTitle = (content: { title?: string }) =>
  content.title ? `${content.title} 🚀 AdAstra` : "AdAstra";
---

<!DOCTYPE html>
<html dir="ltr" class="">
  <head>
    <HeadCommon />
    <title set:html={formatTitle(content)} />
    <style>
      .main-column {
        @apply md:ltr:ml-[var(--theme-left-sidebar-width)] md:rtl:mr-[var(--theme-left-sidebar-width)];
        @apply xl:ltr:mr-[var(--theme-left-sidebar-width)] xl:rtl:ml-[var(--theme-left-sidebar-width)];
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <!-- <aside></aside> -->
      <MainColumn class="flex flex-col h-full min-w-0">
        <slot />
      </MainColumn>
    </main>
    <div class="main-column">
      <slot name="footer">
        <Footer />
      </slot>
    </div>
  </body>
</html>
