---
import type { CollectionEntry } from "astro:content";
import Footer from "~/components/Footer/Footer.astro";
import HeadCommon from "~/components/HeadCommon.astro";
import Header from "~/components/Header/Header.astro";
import LeftSidebar from "~/components/LeftSidebar/LeftSidebar.astro";
import MainColumn from "~/components/MainColumn.astro";
import ThemeToggleButton from "~/components/Header/ThemeToggleButton";
import { getNavigation, resetNavigation } from "adastra-ui";

resetNavigation();

export interface Props {
  content: CollectionEntry<"docs">["data"];
}

const { content } = Astro.props;
const url = Astro.url;
const currentPage = url.pathname;
const formatTitle = (content: { title?: string }) =>
  content.title ? `${content.title} 🚀s AdAstra` : "AdAstra";
---

<!DOCTYPE html>
<html dir="ltr" class="bg-[color:var(--theme-bg-gradient-bottom)]">
  <head>
    <HeadCommon />
    <title set:html={formatTitle(content)} />
  </head>
  <body
    class="group before:content-[''] before:block before:fixed before:inset-0 before:-z-[999] before:bg-[color:var(--theme-bg-gradient)] text-[color:var(--theme-text)] flex flex-col min-h-screen font-sans text-base leading-6"
  >
    <Header />
    <main>
      <aside
        class="group-sidebar:!block group-sidebar:top-[var(--theme-navbar-height)] ltr:group-sidebar:right-0 rtl:group-sidebar:left-0 fixed inset-y-0 p-0 hidden bg-[color:var(--theme-bg-gradient)] z-10 ltr:left-0 rtl:right-0 md:flex md:ltr:pl-[var(--min-spacing-inline)] md:rtl:pr-[var(--min-spacing-inline)] md:ltr:pr-4 md:rtl:pl-4 md:top-[var(--theme-navbar-height)] md:w-[var(--theme-left-sidebar-width)] md:bg-transparent"
      >
        <slot name="primary-sidebar">
          <LeftSidebar currentPage={currentPage}>
            <ThemeToggleButton slot="theme-toggle" client:idle />
          </LeftSidebar>
        </slot>
      </aside>
      <aside class="fixed t-0 b-0 p-0">
        <slot name="secondary-sidebar" />
      </aside>
      <MainColumn class="flex flex-col h-full min-w-0">
        <slot />
      </MainColumn>
    </main>
    <MainColumn>
      <slot name="footer">
        <Footer />
      </slot>
    </MainColumn>
  </body>
</html>
